// Place all the styles related to the api/Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.collection-index-container {
  display: none;

}

.sidebar:hover {

  .collection-index-container {
    display: block;
  }
}


.collection-index-item-feed {
  color: #eee;
  font-weight: 100;
  margin: 10px;

}

.collection-index-item-collection {
  margin: 10px;
}

.collection-index-item-collection ul {

}

.add-modal-button {
  font-size: 12px;
  background: #55c3f4;
  padding: 5px 15px;
  width: 270px;
  height: 40px;
  display: flex;
  justify-content: center;
}
