// Place all the styles related to the api/Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-collection-checkbox {
  cursor: pointer;
  margin-top: 10px;
  -webkit-appearance: checkbox;

}

.collection-index-container {
  display: none;
  margin: 20px;
}

.sidebar:hover {

  .collection-index-container {
    display: block;
  }
}


.collection-index-item-feed {
  color: #eee;
  font-weight: 100;
  margin: 10px;

}

.collection-index-item-collection {
  margin: 10px;
}

.collection-index-item-collection ul {

}

.add-modal-button {
  margin: 0 auto;
  font-size: 12px;
  border: 1px solid #ccc;
  background: lightgreen;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
