// Place all the styles related to the api/Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Feeds Index */
.feeds-index-container {
  padding: 100px;
}

.feed-index-item {
  max-width: 700px;
  margin: auto;
  padding: 10px;
  margin-bottom: 150px;
  cursor: pointer;
  transition: 1s;
  -webkit-transition: 1s;
}
.feed-index-item:hover {
  background: rgba(0, 0, 0, .05);
}

.feed-index-item-title {

}

.feed-index-item-summary {
  width: 40%;
  display: inline;
  color: #424242;
  font-weight: 300;
}
.img-div {
  float: left;
  width: 200px;
  height: 120px;
  margin-right: 15px;
  margin-bottom: 15px;

}

.feed-index-item-image {
width: 100%;
height: 100%;
object-fit: cover;
}

.feed-index-container {
  float: left;
}

.reader-modal-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
}

.reader-modal-img-container {
  margin: 15px;

}

.reader-modal-title {
  margin: 15px;
  font-size: 32px;
}

.reader-modal-content {
  margin: 15px;
  line-height: 3;
}

.index-text-container footer {
  display: flex;
  justify-content: space-between;
}

.reader-modal-container a {
  color: blue;
  margin-bottom: 20px;
}


.popout-footer {
  border-top: 1px solid #eee;
  padding-top:  20px;
  display: flex;
  justify-content: space-between;
}

.feeds-index-container ul svg {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reader-close-button {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
