// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**Login Form***/
.login-input {
  background: #eee;
  border: 1px solid #ccc;
  margin: 15px 0;
  padding: 10px;
}

.login-button {
  color: white;
  background: #55c3f4;
  padding: 10px;
  margin: 10px 0;
  width: 85px;
  text-align: center;
}
.login-button-container {
  display: flex;
  justify-content: space-between;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;

}

.login-form-container {
  display: flex;
  width: 400px;
  padding: 50px;
  padding-top: 16px;
}

.modal-text {
  font-weight: bold;
  padding: 20px;
}

/* Splash Page */
.splash-container {
  background: smokewhite;
  height: 80%;
}

.splash-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.splash-text {
  font-size: 20px;
  margin: 10px 100px;

}
.splash-header span {
  color: #55c3f4;

}

.splash-container button {
  margin: 10px 100px;

}

.splash-header {
  font-family: 'Righteous';
  margin: 0px  40px 10px 100px;
  font-weight: 700;
  font-size: 26px;
}

.splash-image {
  background: #7e5bbe;
  height: 500px;
  margin-left: 100px;
  margin-top: 40px;
  width: 70%;
}

.splash-header-container {
  margin-left: 80px;
  margin-top: 5px;
  // position: fixed;
}
.splash-ul {
  padding-bottom: 80px;
  background: smokewhite;
}
.splash-li {
  margin: 40px auto;
  width: 80%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.login-form-title {
    font-family: 'Righteous';
    margin: 0 auto;
    font-weight: 700;
    font-size: 34px;
} 



.login-form-title span {
  color: #55c3f4;
}

.splash-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 14;
}

/*****Feature Splash ***/
 .feature {
  font-size: 36px;
  color: #55c3f4;
 }

 .splash-feature-ul {
  display: flex;
  background: white;
  padding: 20px 50px 20px 10px;
  justify-content: space-between;
  flex-wrap: wrap;
 }

 .feature-div {
  font-size: 14px;
  font-weight: lighter;
  width: 130px;
  padding: 20px;
  display: flex;

 }

 .feature-div h4 {
  margin: 8px 0px;
 }

 .icon-title-div {
  display: flex;
  flex-direction: column; 
  padding-left: 20px;
 }

.splash-feature-ul li {
}

.icon-title-div p {
  min-width: 120px
}