/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
   -webkit-appearance: none;

 }

  button, link, a {
    cursor: pointer;
  }

 body {
   box-sizing: content-box;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 1;
   background: #fff;
   color: #000;
   width: 100%;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }



 .group:after {
   content: "";
   clear: both;
   display: block;
 }



 /*------------*/
 :root {
 --purple-color: #966fd6 ;
 --background-color: #202426;
}

button:hover {
  opacity: .8;
}

input[type=submit]:hover {
  opacity: .8;
}


.navbar-group {
  // background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  font-weight: bolder;
  font-size: 22px;
}

.app-children-container {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.app-children {
  height: 100%;
  overflow: auto;
}

.sidebar {
  display: flex;
  background: var(--purple-color);
  width: 60px;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .get-started-button {
    display: none;
  }
  .sidebar-footer {
    display: none;
  }
}

.sidebar:hover {
  width: 260px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
    .hamburger-icon {
      display: none;
    }

  .get-started-button {
    margin: auto;
    margin-top: 20px;
    display: flex;
    min-width: 200px;
    justify-content: space-around;
    text-align: center;
    letter-spacing: 2px;
  }
  .sidebar-footer {
    align-self: flex-end;
    display: flex;
    width: 260px;
    justify-content: space-between;
  }
}


.get-started-button {
  padding: 15px;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 100.5px;
  max-height: 5px;
  white-space: nowrap;
  background: var(--purple-color);
  color: white;
  text-align: center;
  line-height: 0;
  font-weight: 100;

}
.app-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.hamburger-icon {
  margin-top: 15px;
  font-size: 26px;
  color: white;

}
/**Login Form***/
.login-input {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
}

.login-button {
  border: 1px solid #ccc;
  background: lightgreen;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
.login-button-container {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login-form-container {
  display: flex;
  width: 400px;
}

.modal-text {
  font-weight: bold;
  padding: 20px;
}

/* Splash Page */
.splash-container {
  background: #eee;
  height: 80%;
}

.splash-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.splash-text {
  font-size: 20px;
  margin: 10px 100px;
}

.splash-container button {
  margin: 10px 100px;
}

.splash-header {
  margin: 70px  40px 10px 100px;
  font-weight: 700;
  font-size: 26px;
}

.splash-image {
  background: purple;
  height: 300px;
  margin-left: 100px;
  margin-top: 40px;
  width: 70%;
}

/* footer */
.sidebar-footer {
  display: flex;
  padding: 10px;
  width: 200px;
  color: #ccc;
  border-top: 1px solid #eee;
  box-sizing: border-box;
}

.sidebar-email {
  width: 80px;
  margin-left: 10px;
}

.spacer {
  flex: 1;
}
.logout-button {
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 10px;
  height: 20px;
  min-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  align-self: flex-end;
  text-align: center;
  line-height: 0;
  font-size: 14px;
}
