/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
   -webkit-appearance: none;
   line-height: 1.5;

 }

  button, link, a {
    cursor: pointer;

  }


 body {
   box-sizing: content-box;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 1;
   background: #fff;
   color: #000;
   width: 100%;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }



 .group:after {
   content: "";
   clear: both;
   display: block;
 }



 /*------------*/
 :root {
 --purple-color: #966fd6 ;
 --background-color: #202426;
}
//
// button:hover {
//   opacity: .8;
// }
//
// input[type=submit]:hover {
//   opacity: .8;
//
// }

button, a, input[type="submit"] {
 cursor: pointer;
 transition: filter .3s, -webkit-filter .3s;
}

button:hover, a:hover, input[type="submit"]:hover {
 filter: brightness(85%);
 -webkit-filter: brightness(85%);
}




.app-children-container {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.app-children {
  height: 100%;
  overflow: auto;

}





.get-started-button {
  padding: 15px;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 100.5px;
  max-height: 5px;
  white-space: nowrap;
  background: var(--purple-color);
  color: white;
  text-align: center;
  line-height: 0;
  font-weight: 100;

}
.app-container {
  width: 100%;
  height: 100%;
  display: flex;

}

.loading-bar {
  width: 400px;
  margin: auto;
}
