.navbar-group {
  border-bottom: 1px solid #fafafa;
  padding: 15px;
  font-weight: bolder;
  font-size: 22px;

}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}
.search-div {
  font-weight: 100;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 200px
}

.search-input {
  width: 100px;
  letter-spacing: 1.5px;
}
